version: 2.1

defaults: &defaults
  docker:
    - image: circleci/node:8.11
  working_directory: ~/repo

orbs:
  node: circleci/node@3.0.0
  codecov: codecov/codecov@1.2.3

jobs:
  generate-test-coverage-report:
    <<: *defaults
    steps:
      - checkout
      - restore_cache: # restores any cache that is available from a previous build
          keys:
            - robofriends-cache-v1-{{ checksum "package-lock.json" }}
            - robofriends-cache-v1- # if only a few changes, then don't rebuild entire node modules
      - run:
          name: Installing React Dependencies
          command: npm install
      - save_cache: # save our cache of the npm dependencies
          key: robofriends-cache-v1-{{ checksum "package-lock.json" }}
          paths:
            - /home/circleci/repo/.npm # this is where the npm cache is stored when we use npm ci
      - run: npm run test -- --coverage --watchAll=false
  upload-test-coverage:
    <<: *defaults
    steps:
      - codecov/upload:
          file: coverage/*.xml
          token: $CODECOV_TOKEN

workflows:
  node-tests:
    jobs:
      - node/test
      - generate-test-coverage-report
      - upload-test-coverage:
          requires:
            - generate-test-coverage-report